
 <!-- Page Content-->
 <div class="container" style="padding-top: 10%;">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
      <div class="m-4 m-lg-5">
          <h1 class="display-5 fw-bold">{{reserveTitle}}</h1>
              <label for="meetingName" class="col-sm-2 col-form-label">Meeting Name</label>
             <!--  <input class="form-control"  placeholder="Meeting Name: "> -->
      </div>
      
      <h1>Terminliste</h1>
      <br><br>
      <!-- <a class="btn btn-dark btn-sm mb-3" routerLink="/newevent">New event</a> -->
        <table class="container-c" style="border-radius: 5px;">
          <thead>
            <tr>
              <th><h1>Subject</h1></th>
              <th><h1>Start</h1></th>
              <th><h1>End</h1></th>
              <th><h1>Date</h1></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let appointment of appointments">
              <td>{{appointment.subject}}</td>
              <td>{{appointment.startTime}}</td>
              <td>{{appointment.endTime}}</td>
              <td></td>
            </tr>
            
          </tbody>
        </table>
      </div>  
   </div>
  